<section class="timeline">

  <%= render partial: 'shared/post_create', locals: {post: @post, source: 'timeline'} %>
  <%= render partial: 'shared/posts', locals: {posts: @posts, source: 'timeline'} %>

</section>