@import 'variables';
body{
  background-color: $color-tertiary;
  height: 100vh;
  width: 100%vw;
}



.default-a{
  text-decoration: none;
  color: rgb(68, 65, 65);
  transition: .5s all;
  &:hover{
    transform: scale(1.2);
    color:white;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.content-container {
  /* position: absolute;
  top: 50px; */
  width: 100%;
  height: calc(100% - 50px);

  /* @media screen and (max-width: 950px) {
    top: 0;
  } */
  overflow-y: scroll;

  &::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 4px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: grey;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
}

header {
  position: relative;
  
  display: flex;
  width: 100%;
  height: 50px;  
  @media screen and (max-width: 750px) {
    height: auto;
    flex-direction: column;
    align-items: center;
  } 
  justify-content: space-between;
  
  background-image: linear-gradient(to right, $color-secondary, $color-primary);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  z-index: 4;

  .logo {
    display: grid;
    place-content: center;
    height: 50px;
    @media screen and (max-width: 750px) {
      height: 38px;
    }
    width: 140px;
    font-size: 30px;
    position: absolute;
    left: 4%;
    top: 0;
    cursor: pointer;
  }

  .nav-left {
    display: flex;
    width: 50%;
    overflow: hidden;
    height: auto;
    transition: height .8s ease;
    margin-left: auto;
    @media screen and (max-width: 750px) {
      width: 100%;
      height: 0;
    }
    ul {
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: space-around;
      padding: 0;  
      align-items: center;
      margin: 0;
      height: 100%;
      @media screen and (max-width: 750px) {
        flex-direction: column;
      } 
    
      li{
        position: relative;
      
        
        a {
          text-decoration: none;
          color: black;        
          display: flex;
          padding: .5rem;
          border-radius: 6px 6px 0px 0;
          border: 1px solid transparent;
          transition: 0.8s ease-in;

          &:hover {
            transform: translateY(.2rem);
            background-color: $color-fifth;
          }
          &:hover ~ .dropdown {
            transition: 0.6s ease-in-out;
            transform: scale(1);

          }
        }

        .dropdown {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: auto;
          position: absolute;
          border: 1px solid red;
          border-radius: 8px;
          background-image: linear-gradient(to top right, $color-primary, $color-fifth);
          top: 50px;
          left: 0;
          width: max-content;
          padding: 2rem;
          z-index: 100;
          &__item{
            width: 90%;
            padding: 5px;
            border: 1px solid black;
            background-image: linear-gradient(to right, rgba($color-secondary, .7), rgba($color-tertiary, .7), rgba($color-fifth, .7));
          }
          transform: scale(0);
          transition: 0.6s ease-in-out;
        }

       
      }

      .logout-mobile {
        display: none;

        @media screen and (max-width: 750px) {
          display: flex;
        }
      }
    }
  }
  .nav-right{
    display: flex;
    margin-right: 1%;
    @media screen and (max-width: 750px) {
      position: absolute;
      right: .5rem;
      top: 0;
      margin-right: 0;
    }
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: flex-end;
    .drop-btn {
      img {
        border-radius: 50%;
        @media screen and (max-width: 750px) {
          height: 2rem;
          margin-top: 6%;
        }
      }

      &:hover ~ .drop-box {
        transform: scale(1);
        @media screen and (max-width: 750px) {
          display: none;
        }
      }
    }

    .drop-box {
      display: flex;
      flex-direction: column;
      align-items: center;     
      z-index: 1;
      transition: transform .2s ease-in;
      transform: scale(0);
      transform-origin: top right;
      list-style: none;
      padding-left: 0;
      width: max-content;

      position: absolute;
      top: 35px;
      li{
        padding: 6px;
        background-image: linear-gradient(to right, $color-secondary, $color-primary);
        width: 100%;
        display: flex;
        justify-content: center;
        border: .5px solid black;
      }
      a{
        color: white;
        text-decoration: none;
        transition: all .5s;
        &:hover{
          transform: scale(1.2);
          color: red;
        }
      }
      
      
      &:hover {
        transform: scale(1);
      }
    }
  }

  #drop-nav {
    display: none;

    &:checked ~ .nav-left {
      height: 12rem;
      @media screen and (min-width: 750px) {
        height: auto;
      }
    }

    &:checked ~ .drop-toggler {


      .bars {
        color: gray;
      }
    }
  }

  .drop-toggler {
    display: none;
    width: auto;
    height: 2rem;
    border: 1px solid grey;
    border-radius: 6px;
    @media screen and (max-width: 750px) {
      display: flex;
      align-self: flex-end;
      align-items: center;
      margin: .2rem 3rem;
    }
    
    & > label {
      cursor: pointer;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .bars {
        transition: color .4s ease-in;
        color: white;
      }
    }
  }
}


.in-notice,
.in-alert {
  width: 4rem;
  position: absolute;
  top: 50px;
  left: calc(50% - 2rem);
  color: transparent;
}