@import 'variables';
body{
  background-color: $color-tertiary;
}

.default-a{
  text-decoration: none;
  color: rgb(68, 65, 65);
  transition: .5s all;
  &:hover{
    transform: scale(1.2);
    color:white;
  }
}

header {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  .nav-left {
    display: flex;
    justify-content: space-around;
    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      padding: 0;
      background-color: orangered;
      align-items: center;
      margin: 0;
    }
    li{
      padding: 10px;
      border: 2px, solid, black;
      a {
        text-decoration: none;
        color: black;      
      }
    }
  }
  .nav-right{
    display: flex;
    justify-content: space-around;
    ul{
      display: flex;
      list-style: none;
      justify-content: space-around;
      padding: 0;
      background-color: aqua;
      align-items: center;
      margin: 0;
      li{
        padding: 10px;
        border: 2px, solid, black;
        
        a{
          text-decoration: none;
          color: black;
        }
      }
    }  
  }
}

