@import 'variables';
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 35px;
  .form {
    
    .login-form{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      height: 15rem;
    }
      & > div {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      
      border-radius: 8px;
      background-image: linear-gradient(to bottom, rgba($color-secondary, .7), rgba($color-tertiary, .7), rgba($color-fifth, .7));
      box-shadow: 0px 0px 5px 5px rgba(64, 66, 70, 0.459);
    }
    .actions {
      display: flex;
      justify-content: center;
      input {
        width: 80px;
        display: inline-block;
        margin-bottom: 1rem;
      }
    }
  }
  
}