// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';


.notification-head{
    padding: 2rem;
    font-size: 2em;
}
.not-wrapper{
    margin: 0 auto;
    margin-top: 1rem;
    background-image: linear-gradient(to left, $color-primary, $color-secondary); 
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-notification{
    padding: 2rem;
    text-align: center;
    width: 90%;  
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: 0.4s ease-in;
    box-shadow: 0px 0px 8px 6px rgba(49, 50, 51, 0.459);  
}


.notifications{
    width: 90%;  
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: 0.4s ease-in;
    box-shadow: 0px 0px 8px 6px rgba(49, 50, 51, 0.459);  
    display: inline-block;
    list-style: none;        
    text-align: center;
}