// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here
@import 'variables';
.timeline{
    h1{
        color: $color-fifth;
    }
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: $color-tertiary;
    box-shadow: 0px, 0px, 5px, 4px, black;
    .new_post{
        display: flex;
        flex-direction: column;
    }
    &__new-post{
        width: 508px;
        max-width: 508px;
        margin-top: 2rem;
        padding: 1rem;
        background-image: linear-gradient(to bottom, rgba($color-primary, .7), rgba($color-tertiary, .8));
        &--box{
            background-color: $color-fifth;
            
        }
        &--title{
            background-color: $color-fifth;            
        }
        &--button{
            align-self: flex-end;
            padding: .5rem;
            border-radius: 20px;
            box-shadow: 0px 2px 2px 2px rgba(49, 50, 51, 0.459);
            transition: 0.4s  ease-in;
            background-color: $color-secondary;
            border-color: $color-fifth;
            color: $color-fifth;
            &:hover {
                transform: translateY(2px);
                box-shadow: 0px 0px 1px 1px rgba(49, 50, 51, 0.459);
            } 

        }

    }
    &__show--bar{
        background-image: linear-gradient(to bottom, rgba($color-primary, .7), rgba($color-tertiary, .8));
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        display: flex;
        flex-direction: column; 
        align-items: center;  
        box-shadow: 0px 0px 0px 0px rgba(49, 50, 51, 0.459);
    }


    &__show-post {
        padding: 3rem;        
        margin: 1rem auto;
        width: 508px;
        max-width: 508px;
        background-color: $color-fourth;
        border-radius: 1rem;
        box-shadow: 0px 2px 2px 2px rgba(49, 50, 51, 0.459);
        position: relative;

        &__title {
            font-size: 2em;
            display: inline-block;
            color: $color-sixth;
            margin: 0;
            text-transform: capitalize;
            & ~ em {
                font-size: 12px;
                padding: 0.5rem;
            }
        }

        &__body {
            box-shadow: 0px 1px 4px 2px rgba(49, 50, 51, 0.459);
            padding: 2rem;
            border-radius: 6px;
            background-color: $color-fifth;
            margin-top: 4rem;
            

        }

        &__comment {
            border: 1px solid white;
            padding: 1rem;
        }
    }
}