// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here
@import 'variables';
.timeline{
    max-width: 1028px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: $color-tertiary;
    &__new-post{
        width: 508px;
        max-width: 508px;
        margin-top: 2rem;
        padding: 1rem;
        background-image: linear-gradient(to bottom, rgba($color-primary, .7), rgba($color-tertiary, .8))
        #post_title {
            background-color: black;
        }
    }

    &__show-post {
        padding: 1rem;
        border: 1px solid red;
        margin: 1rem auto;
        width: 508px;
        max-width: 508px;
    }
}