// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.signup{
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    
    
    .field {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }
    &__box{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;        
        border-radius: 8px;
        background-image: linear-gradient(to bottom, rgba($color-secondary, .7), rgba($color-tertiary, .7), rgba($color-fifth, .7));
        box-shadow: 0px 0px 5px 5px rgba(64, 66, 70, 0.459);
        width: 100%;

        h2 {
            margin: 1rem;
            font-size: 1.5em;
            font-weight: bold;
        }

        & > form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
    &__input{
        padding: 0.4rem;
        border-radius: 8px;
        box-shadow: 2px 2px 6px 2px rgba(64, 66, 70, 0.459);
        transition: all .5s;
        text-align: center;
        &:focus{
            transform: scale(1.03);
        }
    }
    &__button{       
            padding: 0.4rem 4rem;
            border-radius: 20px;
            box-shadow: 0px 2px 2px 2px rgba(49, 50, 51, 0.459);
            transition: 0.4s  ease-in;
            background-color: $color-secondary;
            border-color: $color-fifth;
            &:hover {
                transform: translateY(2px);
                box-shadow: 0px 0px 1px 1px rgba(49, 50, 51, 0.459);
            }
        }
    
        #error_explanation {
            border: 1px dashed ;
            border-radius: 10px;
            margin: 1rem;
            background-image: linear-gradient(to top, rgba($color-secondary, .7), rgba($color-tertiary, .7), rgba($color-fifth, .7));
            width: 20vw;
            h2 {
                text-align: center;
            }
        }
    
}
.main-profile{
    max-width: 960px;
    margin: 3rem auto;
    align-self: center;
    height: auto;

    &__content {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.profile{
    display: flex;
    justify-content:space-between;
    background-image: linear-gradient(to right, rgba($color-secondary, .7), rgba($color-tertiary, .7), rgba($color-fifth, .7));
    &__title{
        display: flex;
        align-items: center;
        padding: 2rem;
        margin: 0;
        
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid rgba(202, 125, 24, 0.459);
            margin-right: 2rem;
        }
    }
    
    &__box {
        background-image: linear-gradient(to bottom, rgba($color-secondary, .7), rgba($color-tertiary, .7), rgba($color-fifth, .7));
        
        & > form {
            display: flex;
            justify-content: center;
            & > ul {
                padding: 0;
                border: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                border: 4px double rebeccapurple;
                & > li {
                    padding: 1rem;
                    margin: 0;
                    display: flex;
                    justify-content: center;
    
                    .input-box {
                        width: 90%;
                        border: none;
                        border-radius: none;
                        //border: 2px solid gray;
                        text-align: center;
                    }
                }
            }
            @media screen and (max-width: 750px) {
                & > ul {
                    width: 400px;
                    & > li {
                        width: 90%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 750px) {
        flex-direction: column;
    }
}

.time{
    margin: 0;
    width: 45%;
    position: relative;
    left: 12px;
}



//styling for the friend request view

.friendship {
    width: 80%;
    height: auto;
    margin: 3rem auto;
    background-color:$color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 750px){
        width: 100%;
    }
    
    &__pending {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 80%;
        background-image: linear-gradient(to bottom, rgba($color-secondary, .7), rgba($color-tertiary, .7), rgba($color-fifth, .7));
        border-radius: 8px;
        box-shadow: 0px 0px 10px 4px rgba(49, 50, 51, 0.459);
        
        @media screen and (max-width: 750px){
            width: 100%;
        }

        h2{
            align-self: center;
            margin-bottom: .5rem;
            font-size: 1.3em;
            font-weight: bold;
        }
        & > ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__box{
        display: flex;
        justify-content: space-around;
        height: 4rem;
        align-items: center;
        padding: 2rem 1rem;  
        }
}
.name-request{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    // border-top: 1px solid rgb(152, 105, 179);
    // border-bottom: 1px solid rgb(152, 105, 179);   
    border-radius: 10px;
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: 0.4s ease-in;
    box-shadow: 0px 0px 8px 6px rgba(49, 50, 51, 0.459);
    
    &:hover {
        background-color: rgba(224, 187, 187, 0.425);
    }

    & > img {
        height: 2rem;
        border-radius: 50%;
        margin-right: .2rem;
    }

    .request,
    .name {      
        padding: .5rem;
        border-radius: 8px 0 0 8px;
        border-right: 1px solid black;
        height: 100%;
        /*background-color: $color-fifth;*/
        color: rgb(15, 46, 28);
        font-weight: bold;
        font-size: .8em;
    }
    .name{
        width: 60%;
        background-color: white;
    }
    .request{
        
        height: 100%;
        padding-right: 10px;
        background-color: white;
        border-radius: 0 8px 8px 0;
        width: 40%;
        min-width: 110px;
        display: grid;
        place-content: center;
        a{
            text-decoration: none;
            transition: .5s all;
            display: inline-block;
            font-size: .8em;
            &:hover{
                transform: scale(1.1) ;
                color:red;
            }
        }
        .submit-btn{
            border: none;
            background-color: transparent;
            font-size: 14px;
            transition: .5s all;
            &:hover{
                transform: scale(1.2) ;
                color: green;
                font-weight: bold;
                cursor: pointer;
            }            
        }
    }
    .accept{
        height: 100%;
        padding-right: 10px;
        background-color: white;
        border-radius: 0 8px 8px 0;
        width: 40%;
        text-align: center;
        padding: .5rem;
        a{
            text-decoration: none;
            transition: .5s all;
            display: inline-block;
            /*width: 80%; */
            &:hover{
                transform: scale(1.2) ;
                font-weight: bold;
            }
        }
    }

}