$color-primary: rgb(25, 123, 204);
$color-secondary: rgb(62, 128, 172);
$color-tertiary: rgb(91, 169, 215);
$color-fourth: rgb(18, 156, 211);
$color-fifth: rgb(103, 193, 234);
$color-sixth: rgb(176, 194, 244);